/*
  * I guess this goes without saying, but
  * DO NOT change any names here, you can stylize these 
  * classes all you want, but keep the names exactly how they are
  * otherwise funky stuff happens
*/
.lightbox-photoLB {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .lightbox-photoLB {
    width: 120px;
    height: 120px;
  }
}

.lightboxLB {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
}

.lightbox-controlLB {
  text-align: right;
  user-select: none;
  color: #fff;
}

.lightbox-controlLB > .lightbox-buttonLB {
  cursor: pointer;
  font-size: 55px;
}

.lightbox-containerLB {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-photo-enlargedLB {
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 3px;
}